<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Courier App - Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/users/login.css">
</head>

<body>
  <%- include('../partials/user-navbar') %>
  <div class="split-container">
    <div class="left-side">
      <div class="logo">Courier App</div>
      <p class="tagline">Fast • Reliable • Secure</p>
    </div>


    <div class="right-side">
      <div class="card login-card">
        <h4 class="text-center mb-4">Login</h4>
        <form method="post" action="/login">
          <div class="form-group">
            <label for="email">Enter email</label>
            <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
          </div>

          <div class="d-flex justify-content-between mb-3">
            <a href="/signup" class="signup">Signup</a>
            <a href="/forget-password" class="forget-password">Forget password?</a>
          </div>

          <button type="submit" class="btn btn-primary btn-block">Login</button>
          <p class="text-center text-danger"> <%= msg %></p>
        </form>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>